.version.index /* version checker */
{
	color: #0000FB;
	background-color: #8E7521;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 53px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u271-3
{
	z-index: 51;
	width: 960px;
	min-height: 181px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}

#u150-3
{
	z-index: 2;
	width: 960px;
	min-height: 181px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}

#u204
{
	z-index: 62;
	width: 134px;
	background-color: transparent;
	position: fixed;
	top: 39px;
	left: 50%;
	margin-left: -480px;
}

#u202-4
{
	z-index: 54;
	width: 146px;
	min-height: 57px;
	background-color: transparent;
	line-height: 66px;
	font-size: 55px;
	text-align: center;
	font-family: bowlby-one-sc, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 73px;
	left: 50%;
	margin-left: -325px;
}

#menuu206
{
	z-index: 64;
	width: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 101px;
	left: 50%;
	margin-left: -77px;
}

#u221
{
	width: 87px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u224
{
	width: 87px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u224.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u227-4
{
	width: 87px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u224.MuseMenuActive #u227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u207
{
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u210
{
	width: 88px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u211-4
{
	width: 88px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u214
{
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u215
{
	width: 88px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u218-4
{
	width: 88px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u242
{
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u245
{
	width: 88px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u248-4
{
	width: 88px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u235
{
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u236
{
	width: 88px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u239-4
{
	width: 88px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u228
{
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u231
{
	width: 88px;
	background-color: #FFF7F0;
	padding-bottom: 7px;
	position: relative;
}

#u210.MuseMenuActive,#u215.MuseMenuActive,#u245.MuseMenuActive,#u236.MuseMenuActive,#u231.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u233-4
{
	width: 88px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u210.MuseMenuActive #u211-4,#u215.MuseMenuActive #u218-4,#u245.MuseMenuActive #u248-4,#u236.MuseMenuActive #u239-4,#u231.MuseMenuActive #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u203-4
{
	z-index: 58;
	width: 223px;
	min-height: 21px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 139px;
	left: 50%;
	margin-left: -327px;
}

#u290
{
	z-index: 104;
	width: 110px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 146px;
	left: 50%;
	margin-left: 279px;
}

#u292
{
	z-index: 105;
	width: 281px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 146px;
	left: 50%;
	margin-left: 361px;
}

#pu76
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 110px;
}

#u76
{
	z-index: 5;
	width: 960px;
	background-color: #00A99D;
	padding-bottom: 504px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u253
{
	z-index: 6;
	width: 961px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
}

#u253_img
{
	padding-right: 1px;
}

#u278-4
{
	z-index: 10;
	width: 333px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
}

#u269
{
	z-index: 8;
	width: 960px;
	background-color: #00B09D;
	padding-bottom: 919px;
	position: relative;
}

#u279-4
{
	z-index: 14;
	width: 268px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
}

#u270
{
	z-index: 9;
	width: 960px;
	background-color: #00B79D;
	padding-bottom: 926px;
	position: relative;
}

#u280-4
{
	z-index: 18;
	width: 341px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
}

#u281
{
	z-index: 22;
	width: 960px;
	background-color: #00C09D;
	padding-bottom: 918px;
	position: relative;
}

#u282-4
{
	z-index: 23;
	width: 341px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
}

#u284
{
	z-index: 28;
	width: 960px;
	background-color: #00CD9D;
	padding-bottom: 924px;
	position: relative;
}

#u285-4
{
	z-index: 29;
	width: 341px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
}

#section2,#section3,#section4,#section5
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 469px;
}

#u286
{
	z-index: 33;
	width: 960px;
	background-color: #00D49D;
	position: relative;
}

#u286_position_content
{
	padding-bottom: 647px;
}

#section1,#section6
{
	margin-left: 469px;
	position: relative;
}

#u287-4
{
	z-index: 34;
	width: 341px;
	min-height: 57px;
	background-color: #FFFFFF;
	line-height: 66px;
	color: #00A99D;
	font-size: 55px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-top: 211px;
	position: relative;
}

#u404-4
{
	z-index: 40;
	width: 892px;
	min-height: 65px;
	background-color: transparent;
	line-height: 25px;
	color: #000000;
	font-size: 21px;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 102px;
	position: relative;
}

#menuu405
{
	z-index: 44;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 328px;
	margin-top: 25px;
	position: relative;
}

#u406
{
	width: 305px;
	background-color: transparent;
	position: relative;
}

#u407
{
	width: 295px;
	min-height: 58px;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u410-4
{
	width: 295px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u407.MuseMenuActive #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 58px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

